#!/usr/bin/env xdg-open
[Desktop Entry]
Name=learningmemorysetup
Type=Application
Terminal=true
Categories=GTK;GNOME;Utility;
Exec=bash -c 'cd /home/luna.kuleuven.be/u0120864/VIBFlySleepLab/LeMDT/.. && /home/luna.kuleuven.be/u0127714/anaconda3/envs/CV/bin/python -m LeMDT --track --camera pylon --arduino'
Icon=/home/luna.kuleuven.be/u0120864/VIBFlySleepLab/LeMDT/static/fly.png
Exec=bash -c 'cd /home/antortjim/MEGAsync/Gitlab/LeMDT/.. && /home/antortjim/anaconda3/bin/python -m LeMDT --track --camera pylon --arduino'
Icon=/home/antortjim/MEGAsync/Gitlab/LeMDT/static/fly.png
