<!-- <div class="last_drawn_img">
  <img ng-if="device.status == 'tracking' || device.status == 'running'"  ng-src="{{ device.url_img }}" alt="" width="640"></img>
</div> -->

<div id="pin_state">
<!-- Graphic representation of the pin state-->
</div>

<div id="controls">
  <div id="load_program">
    <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
    <form method="POST" action="{{ '/device/' + device.id + '/load_program'}}" target="dummyframe">
      <label for="program">Program:</label>
      <select name="program_path" id="program">
        <option ng-repeat="(idx, program) in device.controller.programs" value="{{ program }}">
          {{program }}
        </option>
      </select>
      <br><br>
      <input type="submit" value="Submit">
    </form>
  </div>

  <div id="buttons">
    <span ng-repeat="(m,v) in server.moduleActions">
      <p>{{ m }}</p>
      <button ng-if="device.info[m].status != 'offline'" ng-repeat="button in v" ng-click="button.call()"> </button>
      {{ button.name }}
    </span>
  </div>
</div>

<table class="table table-striped" ng-cloak>
<thead>
  <th>
    Parameter
  </th>
  <th>
    Client value
  </th>
  <th>
    Server value
  </th>
  <th>
    Synced
  </th>
</thead>
<tbody>
  <tr ng-repeat="(p, v) in server.settings">
    <td>
      <p>{{ p }}</p>
    </td>
    <td>
      <input type="text" name = '{{ p }}' ng-model='device.settings[p]' id='{{ p }}' focus-me="{{in_focus==p}}"/>
    </td>
    <td>
      <p>{{ v.value }}</p>
    </td>
    <td>
      <span ng-if="p.client == p.server" class="fas fa-check" title="Synced"></span>
      <span ng-if="p.client != p.server" class="fas fa-redo-alt" title="Not synced"></span>
    </td>
  </tr>
</tbody>
</table>

<div id="logboard">
  <p ng-repeat="log in server.logs">
    {{ log[0] }}
  </p>
</div>
